# Xcode
DerivedData/
*.hmap
*.ipa
*.dSYM/*.dSYM
*.dSYM
*.xcscmblueprint

# User settings
xcuserdata/
*.xcuserstate
*.xccheckout

# Package Manager
# CocoaPods
# Pods/
# Carthage
# Carthage/Build/
# SwiftPM
.build/

# SwiftLint
.swiftlint.yml

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# macOS
.DS_Store